<% if !flash[:error].nil? %>
<div class='alert alert-danger'>
  <%= flash[:error] %>
</div>
<% end %>
<!--<div class='col-xs-12'>-->
  <h2 class="playlist-header">Playlists</h2>
  <% @playlists.each do |playlist| %>
    <% if @p_vids[playlist.playlist_id].size > 0 %>
      <div class="row pl-row">
        <!--<div class="col-xs-2">-->
        <div class="col-xs-2 plist-thumbnail">
          <%= image_tag(@p_vids[playlist.playlist_id].first.thumbnails.first.url, :class=> "img-rounded") %>
        </div>
        <!--</div>-->
        <div class="col-xs-6 col-md-10 col-lg-10">
          <h5 class="playlist-title"><%= playlist.title %></h5>
          <div class="vid-list-wrapper">
            <ul>
              <% @p_vids[playlist.playlist_id].each do |video| %>
                <li class="plist-item">
                  <span class="vid-title"><%= video.title %></span>
                  <span class="vid-length"><%= controller.format_time(video.duration) %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <!--<%= @playlist.to_json %>
  
  <%= @playlists.to_json %>-->
<!--</div>-->